.dog-cards-container
    width: 100%
    +flex-center
    gap: 20px

    .dog-card
        max-width: 200px
        padding: 20px
        background-color: white
        border-radius: 12px
        align-self: stretch

        img
            width: 100%